<!DOCTYPE html>
<html>
     <!-- Head de Configuraçoes do HTML-->
     <head>
        <meta charset="utf-8">
		<title> Elab Experiencia de pendulo</title>
        
		<meta name="description" content="Experiencia de pendulo">
        <meta name="author" content="José Carlos">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
       
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='base/css/sb-admin-2.css') }}">
       
        <link rel="shortcut icon" href="http://e-lab.ist.eu/rec.web/faviconElab.ico", type="image/png" sizes="16x16">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
       
      
         <!--Script-->
         <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
         <script src="JSON-to-Table.min.1.0.0.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script src="https://d3js.org/d3.v6.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
         <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
         <script src ='https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js'></script>
         <script src ='https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js'></script>
         <script src ='https://cdnjs.cloudflare.com/ajax/libs/jquery-replace-text/1.1.0/jquery-replace-text-min.js'></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script> -->
         <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
         <script src="https://unpkg.com/chartjs-plugin-zoom@1.0.0-beta.1/dist/chartjs-plugin-zoom.min.js"></script>
         <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='base/config/env.js') }}"></script>
         <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

         {% block css %}
         {% endblock %}
        </head>

        <body>
           
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">                <div class="navbar-header">
                    <a class="navbar-brand" href={{ url_for('main.home') }}> ELAB</a> 
                </div>
            <!--Static navbar-->
            
            <div class="navbar-default sidebar" >
                <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                    <li>
                        <a id="descricao" class="active" href="{{ url_for('main.home') }}"><i
                                class="fa fa-home"></i>
                            Descrição da Experiencia</a>
                    </li>
                    <li>
                        <a id="controller" href="{{ url_for('controller.controller') }}"><i class="fa fa-tasks"></i>
                            Controlo</a>
                    </li>
                    <li>
                        <a id="video" href="{{ url_for('controller.controller') }}"><i class="fa fa-play"></i>
                            Video stream</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Graficos<span class="fa arrow"></span></a>
                        <ul id='chart_nav' class="nav nav-second-level">
                            <li>
                                <a id="velocidade_data" href="{{ url_for('charts.velocidade_linear') }}">Velocidade linear</a>
                            </li>
                            <li>
                                <a id="periodo_data" href="{{ url_for('charts.periodo_histogram') }}">Histograma do periodo</a>
                            </li>
                            <li>
                                <a id="temperatura_data" href="{{ url_for('charts.temperature') }}">Temperatura</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a id="tables" href="{{ url_for('tables.tables') }}"><i class="fa fa-table fa-fw"></i> Tabela dos dados</a>
                    </li>
                    <!--<li>
                        <a id="statistics" href="{{ url_for('statistics.statistics') }}"><i class="fa fa-signal fa-fw"></i>
                            Estatistica</a>
                    </li>-->
                    <li>
                        <a id="about" href="{{ url_for('about.about') }}"><i class="fa fa-question fa-fw"></i>
                            Sobre</a>
                    </li>
                  </ul>
                </div>
            </div>
        </nav>

            

             <!-- child template -->
            {% block content %}
            {% endblock %}
           
         
        </body>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='base/js/elab-control.js') }}"></script>
        <script src="{{ url_for('static', filename='base/js/vel.js') }}"></script>
        <script src="{{ url_for('static', filename='base/js/build_table.js') }}"></script>
      


</html>

